mixin main-page__footer()
	//block main-page__footer
	.main-page__footer-empty
	.main-page__footer-wrap
		.main-page__footer
			a(href="#").main-page__footer-el
				.main-page__footer-
				span входящие звонки
			a(href="#").main-page__footer-el 
				span исходящие звонки
			a(href="#").main-page__footer-el 
				span обслуживание онлайн чата
			a(href="#").main-page__footer-el 
				span телефонные роботы
			a(href="#").main-page__footer-el 
				span Отраслевые решения
			a(href="#").main-page__footer-el 
				span бесплатная проверка
			i.icon-close

		
	//block main-page__footer end