mixin modal-order()
	//block modal-order
	.modal.modal-order
		i.icon-close
		.modal-order__wrap
			.modal-order__title оставьте заявку
			form(action="")
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваш телефон")
				input(type="text" placeholder="Ваш email")
				button.btn.btn--md.btn--green оформить заявку
	//block modal-order end