mixin slogan-operator()
	//block slogan-operator
	.slogan-operator
		.slogan-operator__title команда наших операторов
		.slogan-operator__text У нас работают лучшие специалисты. не верите?
		.slogan-operator__link 
			a(href="#") спросите их сами!
			a(href="#").cloud-message.cloud-message--light чат
	//block slogan-operator end