mixin slogan-review()
	//block slogan-review
	.slogan-review
		.slogan-review__title наши клиенты
		.slogan-review__text с нами просто, удобно и выгодно сотрудничать. послушайте наших клиентов.
		.slogan-review__link 
			span а мы порадуем выгодным предложением.
			a(href="#").cloud-message.cloud-message--light чат
	//block slogan-review end