mixin category-form()
	//block category-form
	.category-form
		.category-form__wrap
			form(action="")
				input(type="text" placeholder="Ваш телефон")
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваш e-mail")
				input(type="text" placeholder="Название организации")
				input(type="text" placeholder="Название организации")
				input(type="text" placeholder="Название организации")
				.category-form_row-btn
					.btn.btn--md.btn--blue назад
					.btn.btn--md.btn--green оформить заказ
	//block category-form end