-
	pages = [
	
		{
			'name':'Главная',
			'href':'index'
		},
		{
			'name':'Команда',
			'href':'operator'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
			'name':'Решения',
			'href':'solution'
		},
		{
			'name':'Услуги',
			'href':'service'
		},
		{
			'name':'Категории',
			'href':'category'
		},
		{
			'name':'Категории-2',
			'href':'category-enter'
		}
	
	]
