//! block modal-callback
.modal-callback
	width 295px
	input
		width 100%
		margin-bottom 15px
		text-align center
	.btn--md
		padding 20px 10px
		width 100%
		font-weight 700 
.modal-callback__title
	up()
	margin-bottom 20px
	color white
	font-size 25px
	font-weight 700
	

//!block modal-callback end