mixin modal-callback()
	//block modal-callback
	.modal.modal-callback
		i.icon-close
		.modal-callback__wrap
			.modal-callback__title оставьте заявку
			form(action="")
				input(type="text" placeholder="Ваш телефон")
				input(type="text" placeholder="Ваше имя")
				button.btn.btn--md.btn--green оформить заявку
				button.btn.btn--md.btn--blue Звонок с сайта
	//block modal-callback end