mixin cabinet-menu()
	//block cabinet-menu
	.cabinet-menu
		.cabinet-menu__el
			i.icon-menu-toggle.main-page-header__toggle
		.cabinet-menu__el
			.main-page-header__message
				.main-page-header__message
					i.icon-i-message
				.main-page-header__message-val 92
		.cabinet-menu__el
			i.icon-mail.get-modal-order
		.cabinet-menu__el
			i.icon-construction.get-modal-callback
	//block cabinet-menu end