//! block cabinet-menu
.cabinet-menu
	+below(768px)
		width 100%
		flex-flow row
		justify-content space-around
	flex(mid)
	fl()
	padding-top 20px
	width 100px
	background blue
	height 100%
	justify-content flex-start
	i
		color white
		cp()
	.main-page-header__message-val 
		color blue
	.icon-i-message
		font-size 28px
.cabinet-menu__el
	margin-bottom 20px
//!block cabinet-menu end