mixin conctraction()
	//block conctraction
	.construction
		.construction__call
			.type.type--md.type--mid звонки
			.construction__call-wrap
				.construction__call-text
					img(src="img/in-arrow.png", alt="")
					span Вход.
				.swicher
					.swicher__block
						.swicher__btn
							img(src="img/swich-btn.png", alt="")
				.construction__call-text
					span Исход
					img(src="img/out-arrow.png", alt="")
		.construction__type
			.type.type--md.type--mid тип звонков
			select.select--style
				option Холодные
				option Горячие
				option Другие
		.construction__number
			.type.type--md.type--mid количество операторов
			.range__wrap.range__wrap--green
				input(type="text" class="range range--green " name="example_name" value="" )

	//block conctraction end