//! block take-service
.take-service__row-btn
	flex(mid)
	align-items inherit
	fw()
	.btn
		+below(1440px)
			font-size 16px
		+below(768px)
			width 100%
			margin-right 0
		&:last-child
			margin-right 0
	.btn--blue-empty
		+below(1440px)
			font-size 16px
			i
				font-size 16px
		padding 25px 40px
		font-size 22px
//!block take-service end