mixin take-service()
	//block take-service
	form(action="#").form.form--takeservice
		.row
			.col.col--md-6
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваше имя")
			.col.col--md-6
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваше имя")
				input(type="text" placeholder="Ваше имя")
		.take-service__row-btn
			.btn.btn--md.btn--blue-empty.btn--arrow
				i.icon-arrow-left
				span назад
			.btn.btn--md.btn--blue калькулятор
			.btn.btn--md.btn--green оформить заказ

	//block take-service end