mixin category-list()
	//block category-list
	.category-list
		.category-list__row
			.category-list__name Бюджет кампани
			.category-list__val 10000$
		.category-list__row
			.category-list__name Звонки
			.category-list__val Исходящие
		.category-list__row
			.category-list__name Тип 
			.category-list__val Холодные
		.category-list__row
			.category-list__name Операторы
			.category-list__val 15
		.category-list__row
			.category-list__name Услуги 
			.category-list__val наименование услуги 1
		.category-list__row
			.category-list__name Бонус 
			.category-list__val +3 оператора на входящие
	//block category-list end