//! block category-list
.category-list__row
	flex(between)
	fw()
.category-list__name
	+below(768px)
		font-size 12px
	font-size 18px
	color blue
.category-list__val
	+below(768px)
		font-size 12px
	font-size 18px
	
//!block category-list end