mixin header-panel()
	//block header-panel
	.header-panel
		.header-panel__wraper
			.header-panel__el
				.header-panel__icon
					i.icon-i-list
				.header-panel__text База контактов
			.header-panel__el
				.header-panel__icon
					i.icon-i-tree
				.header-panel__text Конструктор скриптов
	//block header-panel end