mixin slogan()
	//block slogan
	.slogan
		.slogan__wraper
			.slogan__number 8 (800) 00 00 00
			.slogan-btn__row
				.btn.btn--sm.btn--blue.get-modal-order оставить заявку
				.btn.btn--sm.btn--green.get-modal-callback заказать звонок
			.slogan-word Мы
			.slogan-word Понимаем
			.slogan-word Понимают
			.slogan-word.slogan-word--last Нас
				.slogan-word__sub
					.slogan-word__sub-el НУЖНА ПОМОЩЬ В РАЗВИТИИ
					.slogan-word__sub-el БИЗНЕСА? 
						span СПРОСИТЕ НАС!
						.cloud-message чат


	//block slogan end