//! block call-sample
.call-sample__operator
	+below(1378px)
		font-size 12px
		margin-left 35px
		margin-bottom 5px
	margin-left 50px
	margin-bottom -10px
	font-size 16px
	span
		color #afbaf0
.call-sample__el
	margin-bottom 40px
	.time
		color black
//!block call-sample end