mixin call-sample()
	//block call-sample
	.call-sample__el
		.call-sample__operator
			.call-sample__operator <span>[Оператор Наталья]  </span> 12.07.2016, ПАО «Газпром»
		audio(src="sound.mp3" preload="auto")
	//block call-sample end