//! block review-sound
.review-sound
	flex(around)
	fw()
	margin-top 40px
	width 100%
.review-sound__el
	+below(1024px)
		width 31%
	+below(768px)
		width 95%
	width 26%
.review-sound__logo
	margin 0 auto
	width 170px
	img
		margin-left 35px
//!block review-sound end