mixin slogan-solution()
	//block slogan-solution
	.slogan-solution
		.slogan-solution__title отраслевые решения
		.slogan-solution__text мы собрали самые выгодные отраслевые решения для вашего бинеса. 
		.slogan-solution__text не можете решить что же выбрать? 
			.slogan-solution__link 
				a(href="#") спросите нас!
				a(href="#").cloud-message.cloud-message--light чат
	//block slogan-solution end